@model KooliProjekt.Data.Registering

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Registering</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klient_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
